.box {
    width: 200px;
    height: 200px;
    background-color: red;

    transition: width 1s ease, height 5s ease, background-color 1s ease;
}


.box:hover {
    width: 400px;
    height: 600px;
    background-color: cadetblue;
}